
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

* {
    font-size: 1em; 
}


:root {
    --primary-color: rgb(0,0,0);
    --background-color: rgb(255,250,250);
    --padding: 20px;
    --small-size-font: 0.8125em; /*13px*/
    --middle-size-font: 1em; /*16px*/
    --large-size-font: 2.125em; /*34px*/
    --12px-size-font: 0.75em;
    --15px-size-font: 0.9375em;
    --17px-size-font: 1.0625em;
    --20px-size-font: 1.25em;
}


body {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}


/* ---------------header--------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--padding);
    padding-left: var(--padding);
    padding-top: calc(var(--padding)*2);
    position: fixed;
    z-index: 100;
    color: var(--background-color);
    width: 96%;
}

.menu_logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu_logo i {
    font-size: 22px;
    margin-right: var(--padding);
    
}

.menu_logo .logo img{
    width: 300px;
    filter: invert(100%); /*이미지 색상 반전*/
}


.input {

}


.input label {
    font-size: 19px;
    cursor: pointer;
}

.input input {
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--background-color);
    cursor: pointer;
    width: 140px;
}

.icons {
    font-size: var(--small-size-font);
}

.icons .login {
    margin-right: var(--padding);
}

.icons span {
    padding-left: 5px;
    font-weight: 500;
    color: var(--background-color);
}

.icons i {
    font-size: 18px;
    color: var(--background-color);

}


/* ---------------header > menu--------------- */

.menu i {
    cursor: pointer;
}

.menu_wrap {
    /* display: block; */
    padding: 50px 15px;
    position: absolute;
    top: 0;
    left: -50%;
    right: 0;
    background-color: var(--background-color);
    width: 23%;
    line-height: 10px;
    overflow: scroll;
}

.menu_wrap img {
    margin-bottom: var(--padding);
}

.menu_wrap p {
    font-size: var(--17px-size-font);
}

.menu_wrap .outdoor, .bestseller{
    display: inline-block;
}

.menu_wrap span {
    font-style: italic;
    font-size: var(--12px-size-font);
}

/* ---------------main--------------- */

main {
}


.bxslider{

}

main .sale {
    text-align: center; 
}



/* ---------------footer--------------- */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
}

footer .info{
    font-size: var(--12px-size-font);
    margin-bottom: 50px;
    text-align: center;
}

footer .subscribe p {
    font-size: var(--12px-size-font);
    text-align: center;
}

footer .subscribe input {
    justify-content: center;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    width: 500px;
}

.follow_download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.follow_download i {
    font-size: 22px;
    margin-right: 15px;
}

.download i:nth-child(2) {
    margin: 0;
}

.follow_download .follow {
    margin-right: 50px;
    text-align: center;
}

.follow .sns a:hover,
.download .app a:hover {
    opacity: 0.4;
}

.follow_download .download {
    text-align: center;
}

.cor_info {
    display: flex;
    column-gap: 100px;
    font-size: var(--12px-size-font);
    justify-content: center;
    margin-bottom: 100px;
}

.cor_info_col1,
.cor_info_col2,
.cor_info_col3 {
    text-align: center;
    line-height: 10px;
}


.cor_info_col1 a:hover,
.cor_info_col2 a:hover,
.cor_info_col3 a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.cor_info a{
    text-decoration: none;
    color: rgb(78, 78, 78);
}

.cor_info h1 {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}


